.shop-order{
	position: absolute;
	width: 800px;
	height: 300px;
	border-radius: 10px;
	/*border: 1px solid #F0F0F0;*/
	top: 195px;
	left: 80px;
	color: #ffffff;
}
.shop-order table{
	color: #ffffff;
	font-size: 14px;
}
.shop-order table tr td img{
	position: relative;
	margin-left: 40px;
}
td[name='info']{
	cursor: pointer;
}